<div id="toolbar">
</div>
<table  class="table table-striped table-hover" id="assign-shifts"
                      data-toolbar="#toolbar"
                      data-show-columns="true" data-show-export="true"
                      data-toggle="table" data-search="true"
                      data-page-list="[10, 25, 50, 100, ALL]">
  <thead>
    <tr>
      <th data-sortable="true">Category</th>
      <th data-sortable="true">Name</th>
      <% Workshift.days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @metashift_rows.each do |metashift, days| %>
      <tr>
        <td><%= metashift.category %></td>
        <td><%= metashift.name %></td>
        <% Workshift.days.each do |day| %>
          <td class="workshift">
            <% if days[day] %>
              <% days[day].each do |workshift| %>
                <div class="form-group">
                  <div class="input-group">
                    <div id="scrollable-dropdown-menu">
                      <input type="text" class="form-control workshift typeahead" id="<%= workshift.id %>" value="<%= workshift.user.full_name if workshift.user %>" name="workshifts[<%= workshift.id %>]">
                    </div>
                    <div class="input-group-addon workshift">
                      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="
                        Start Time: <%= workshift.start_time %>
                        End Time: <%= workshift.end_time %> 
                        Hours: <%= workshift.length %> 
                        Details: <%= workshift.details %>
                      "></span>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <button type="submit" class="btn btn-theme">Assign Shifts</button>
</div>


<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(document).ready(function(){
    $("table#assign-shifts").on("post-body.bs.table", function(){
      // $('#scrollable-dropdown-menu .typeahead').typeahead({
      //   hint: true,
      //   highlight: true,
      //   minLength: 1
      // },
      // {
      //   name: 'states',
      //   source: substringMatcher(states)
      // });
      $( ".typeahead" ).autocomplete({
        source: availableTags
      });
      
      $("input.workshift").on("focus", function() {
        $.get("/assignments/" + $(this).attr('id') + "/sort_users", function(data) {
          $("#sorted-table").bootstrapTable('load', data.rows);
          console.log(data.names)
          $( ".typeahead" ).autocomplete({
            source: data.names
          });
        });
      });
    })
    
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({
        'selector': '',
        'placement': 'top',
        'container':'body'
      });
      $("#assign-shifts").on('reset-view.bs.table', function() {
        $('[data-toggle="tooltip"]').tooltip({
        'selector': '',
        'placement': 'top',
        'container':'body'
        });
      });
    });
    
    
    
    
  });
  
  var availableTags = [
    "ActionScript",
    "AppleScript",
    "Asp",
    "BASIC",
    "C",
    "C++",
    "Clojure",
    "COBOL",
    "ColdFusion",
    "Erlang",
    "Fortran",
    "Groovy",
    "Haskell",
    "Java",
    "JavaScript",
    "Lisp",
    "Perl",
    "PHP",
    "Python",
    "Ruby",
    "Scala",
    "Scheme"
  ];
    

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;
  
      // an array that will be populated with substring matches
      matches = [];
  
      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');
  
      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });
  
      cb(matches);
    };
  };
  var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
    'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
    'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
    'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
    'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
    'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
  ];
</script>
