<%=form_tag edit_password_path, :name => 'password' do %>
  <%= label :user, :password, 'New Password' %>
  <br>
  <%= password_field :password, "", {class: "form-control", placeholder: "Password"} %>
  <br>
  <%= label :user, :password_confirmation, 'New Password Confirmation' %>
  <br>
  <%= password_field :password_confirmation, "", {class: "form-control", placeholder: "Password"} %> 
  <br>
  <button type="submit" class="btn btn-theme" id="submit_button">Update Password</button>
<% end %>