<head>
  <style>
    .row { 
      margin-top:20px;
      margin-bottom:20px;
    }
    .col-md-4 {
      margin-top:15px;
    }
    a.btn:visited {
      color: white;
    }
  </style>
</head>

<h2 style="margin-top:0px;"> <%= @user.full_name %> </h2>
<div class="col-md-10 col-md-offset-2"> 
  <div class ="row" >
  <table class="table table-user-information">
    <tbody>
      <tr>
        <td><b>Email:</b></td>
        <td><a href="mailto:<%= @user.email%>"><%= @user.email%></td>
      </tr>
      <tr>
        <td><b>Permissions:</b></td>
        <td><%= @user.getPermission%></td>
      </tr>
      <tr>
        <td><b>Compensated Hours:</b></td>
        <td><%= @user.compensated_hours%></td>
      </tr>
      <tr>
        <td><b>Preference form visible:</b></td>
        <td><%= @user.preference_open%></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class ="row" >
    <%=form_tag toggle_preferences_path(:id => @user.id), :id => 'pref_form', remote: "true", :authenticity_token => true do %>
      <p> Toggle whether the preference form for this user. </p>
      <div class="col-sm-4 control-label">
        <label for="preference_toggle">Preference Form: </label>
      </div>
      <div class="col-sm-4 pref_one_div">
        <div class="input-group">
          <input id="preference_toggle_one" name="pref_all" <%=if @user.preference_open then "checked" end %> type="checkbox" data-toggle="toggle" data-on="Open" data-off="Closed" data-onstyle="success" data-offstyle="danger">
        </div>
      </div>
    <% end %>
    <div class="col-sm-4">
      <%= link_to('Edit Profile', edit_profile_path(:id => @user.id), :class => 'btn btn-theme') %>
    </div>
  </div>
  <%=render "workshifts/weekly_assignments" %>
</div>

