<head>
  <style>
    .row { 
      margin-top:20px;
      margin-bottom:20px;
    }
    .col-md-4 {
      margin-top:15px;
    }
    a.btn:visited {
      color: white;
    }
  </style>
</head>

<h2> <%= @user.full_name %> </h2>

<div class="row">
  <div class="col-md-2"><h4>Email:</h4></div>
  <div class="col-md-4 col-md-offset-2"><%= @user.email %></div>
</div>
<div class="row">
  <div class="col-md-2"><h4>Permissions: </h4></div>
  <div class="col-md-4 col-md-offset-2"><%= @user.getPermission %></div>
</div>
<div class="row">
  <div class="col-md-2"><h4>Compensated Hours: </h4></div>
  <div class="col-md-4 col-md-offset-2"><%= @user.compensated_hours %></div>
</div>
<div class="row">
  <div class="col-md-2"><h4>Can see preference form: </h4></div>
  <div class="col-md-4 col-md-offset-2"><%= @user.preference_open %></div>
</div>

<%= link_to 'Toggle Preference Form for ' + @user.full_name, admin_view_user_path(:change_preference_for_id => @user.id), :class=>"btn btn-theme" %>

<%= link_to('Edit Profile', edit_profile_path(:id => @user.id), :class => 'btn btn-theme') %>
