<%= javascript_include_tag "validate_pref.js" %>
<%= javascript_include_tag "update_edit.js" %>

<div class="row">
    <div class = "col-md-3">
        <%=render "preference_access" %>
    </div>
    <div class = "col-md-8 col-md-offset-1">
        <% if @user %>
            <%=render "view_user_info" %>
        <% end %>
       
        <div class="row">
            <div class="col-md-12" style="margin-top:20px;">
                <% if @render_user %>
                    <h3 style="margin-top:0px;"> Preferences </h3>
                    <div class="no-edit">
                        <%= render "pref_form" %> 
                        <%= render "avail_form" %>
                    </div>
                <% else %>
                    <h2> User has not set semester preferences. </h2>
                <% end %>
            </div>
        </div>
    </div>
</div>



<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>
$(document).ready(function() {
  $('#pref_all_form').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
          type: "POST",
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
          dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        //   console.log("success", json);
      });
      return false; // prevents normal behaviour
  });
  $('#preference_toggle').change(function() {
    $( "#pref_all_form" ).submit();
  });
  
//   $('.scroll-table').scrollTableBody();

  $('#pref_form').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
          type: "POST",
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
          dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        //   console.log("success", json);
      });
      return false; // prevents normal behaviour
  });
  $('#preference_toggle_one').change(function() {
    $( "#pref_form" ).submit();
  });

});
</script>
