<%= javascript_include_tag "validate_pref.js" %>
<%= javascript_include_tag "update_edit.js" %>
<%=render "preference_access" %>

<div class="col-md-8">
    <% if @user %>
        <%=render "view_user_info" %>
    <% end %>
</div>
<div class ="col-md-1 col-lg-1"></div>
<div class=" col-md-8 col-lg-10 ">
<% if @render_user %>
    <div class="row">
      <%= render "pref_form" %> 
    </div>
    <div class="row">
      <%= render "avail_form" %>
<% else %>
    <h2> User has not set preferences/avaliablilty </h2>
<% end %>
</div>
</div>