<%= javascript_include_tag "validate_pref.js" %>
<%= javascript_include_tag "update_edit.js" %>

<div class="row">
    <div class = "col-md-3">
        <%=render "preference_access" %>
    </div>
    <div class = "col-md-8 col-md-offset-1">
        <div class="row" style="margin-top:100px;">
            <div class="col-md-8">
                <% if @user %>
                    <%=render "view_user_info" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <% if @render_user %>
                     <%= render "pref_form" %> 
                     <%= render "avail_form" %>
                <% else %>
                    <h2> User has not set preferences/availablilty </h2>
                <% end %>
            </div>
        </div>
    </div>
</div>