<!-- app/views/users/edit.html.erb -->
<% flash.each do |key, value| %>
  <div class="alert alert-<%=key%>" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> <%= value %> </strong>
  </div>
<% end %>

<%= yield %>
<h1>Edit Account</h1>
<div class="col-lg-1">
</div>
<div class="col-lg-8">
  <h2>Change Password</h2>
  <%=render "edit_password_form" %>
  <div class="hline"></div>
  <h2>Update Email</h2>
  <%=render "edit_email_form" %>
  <div class="hline" style="margin-top:20px;"></div>
  <% if admin_rights? %>
    <h2>Change Permissions</h2>
    <%=render "edit_permissions_form" %>
    <div class="hline" style="margin-top:20px; margin-bottom:20px;"></div>
  <% end %>
</div>