<%= javascript_include_tag "validate_pref.js" %>
<%= javascript_include_tag "update_edit.js" %>


<h2> Please Edit your preferences below </h2>
<div class ="col-md-1 col-lg-1"></div>
<div class=" col-md-10 col-lg-10 ">
  <%= form_tag submit_pref_edit_path, :id => "pref_form" do %>
    <div class="row">
      <%= render "pref_form" %> 
    </div>
    <div class="row">
      <%= render "avail_form" %>
    <button type="submit" class="btn btn-theme pull-right">Save</button>
  <% end %>
</div>
</div>
<div class ="col-md-1 col-lg-1"></div>
