<h3>Rank the Workshifts</h3>

<div class ="col-md-1 col-lg-1"></div>
<div class=" col-md-10 col-lg-10 ">
  <table class="table table-condensed table-responsive">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Category (Click on Category to exapand)</th>
      </tr>
    </thead>
    <tbody>
      <% @metashifts_by_category.each do |category, metashifts| %>
        <tr class="pref_meta">
          <td style="width:50px;">
            <input type="text" class="form-control" maxlength="1" size="1" min="1" max="5"> 
          </td>
          <td>
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default no-margin">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%=convert_to_id category%>" aria-expanded="true" aria-controls="<%=convert_to_id category%>" >
                       <%=category %> 
                    </a>
                  </h4>
                </div>
                <div id="<%= convert_to_id category %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Rank</th>
                          <th>Shift</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% metashifts.each do |metashift| %>
                          <tr>
                            <td style="width:50px;">
                              <input type="text" class="form-control" maxlength="1" size="1" min="1" max="5"> </td>
                            <td>
                              <%=metashift.name %>
                            </td>
                            <td>
                              <%=metashift.description %>
                            </td>
                          </tr>
                          <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class ="col-md-1 col-lg-1"></div>

