<% content_for :javascript_includes do %>
  <%= javascript_include_tag "validate_pref.js" %>
<% end %>

<div class ="col-md-1 col-lg-1"></div>
<div class=" col-md-10 col-lg-10 ">
<div class="row">
<%= form_tag post_pref_page_path, :id => "pref_form" do %>
<h3>Rank the Workshifts</h3>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @metashifts_by_category.each do |category, metashifts| %>
        <tr class="pref_meta">
          <td style="width:50px;">
            <div class="form-group">
            <input id="<%=category.length%>" name="category[<%= category %>]" type="text" pattern="^[1-5]$" class="form-control pref_rank" maxlength="1" size="1"> 
            </div>
          </td>
          <td>
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default no-margin">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%=convert_to_id category%>" aria-expanded="true" aria-controls="<%=convert_to_id category%>" >
                       <%=category %> 
                    </a>
                  </h4>
                </div>
                <div id="<%= convert_to_id category %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Rank</th>
                          <th>Shift</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% metashifts.each do |metashift| %>
                          <tr>
                            <td style="width:50px;">
                              <div class="form-group">
                                <input name="meta[<%= metashift.id %>]"type="text" pattern="^[1-5]$" class="form-control pref_rank" maxlength="1" size="1"> 
                              </div>                            </td>
                            <td><%=metashift.name %></td>
                            <% if metashift.description.length <= 100 %>
                              <td><%=metashift.description %></td>
                            <% else %>
                              <td>
                                <div id="wrap">
                                  <div class="meta<%=metashift.id%> collapse in">
                                    <%=metashift.description[0..100] %> ...
                                  </div> 
                                  <div class="meta<%=metashift.id%> collapse"  role="tabpanel"> <%=metashift.description%> </div>
                                  <a id="link<%=metashift.id%>" class="true-link" role="button" data-parent="#wrap" data-toggle="collapse" href=".meta<%=metashift.id%>" aria-expanded="true" aria-controls="<%=metashift.id%>" >
                                    toggle description
                                  </a>
                                </div>
                              </td>
                            <% end %>
                          </tr>
                          <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button type="submit" class="btn btn-theme pull-right">Save Preferences</button>
<% end %>
</div>
<div class="row">
<%= form_tag post_avail_page_path, :id => "avail_form" do %>
  <h3>Set Your Availability</h3>
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th></th>
          <% (0...7).each do |i| %>
            <th style="width: 13%"><%= @day_mapping[i] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% (8...24).each do |time| %>
          <tr>
            <th> <%= convert_to_time(time) %> </th>
            <% (0...7).each do |day| %>
              <td>
                <select name="avail[<%=day.to_s + "," + time.to_s %>]" class="selectpicker" data-width="100%" title="...">
                  <option title="<div style='vertical-align:middle;'><span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span></div>">Available</option>
                  <option title="<span class='glyphicon glyphicon-minus-sign' aria-hidden='true'></span>">Not Preferred</option>
                  <option title="<span class='glyphicon glyphicon-remove-sign' aria-hidden='true'></span>">Unavaiable</option>
                  <option title="<span class='glyphicon glyphicon-question-sign' aria-hidden='true'></span>">Unsure</option>
                </select>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <button type="submit" class="btn btn-theme pull-right">Save Availability</button>
<% end %>
</div>
</div>
<div class ="col-md-1 col-lg-1"></div>
