<head>
  <style>
    .color_red { 
      color: #E63946;
    }
    .color_green { 
      color: #70AE6E;
    }
  </style>
</head>

<div class ="row">
    <div class ="col-md-8">
        <div class="spacing"></div>
            <h3> Profile </h4>
        <div class="hline"></div>
            <div class="panel-body">
              
              <div class="row" style="margin-bottom:20px">
                <div class="col-md-3" align="center">
                  <h4> Hours: </h4>
                   <% if @user.hour_balance >= 0 %>
                    <h1 class="color_green"><%= @user.hour_balance%></h2>
                  <% else %>
                    <h1 class="color_red"><%= @user.hour_balance%></h2>
                  <% end %>
                </div>
                <div class="col-md-3" align="center">
                  <h4> Fine Balance: </h4>
                  <% if @user.fine_balance > 0 %>
                    <h1 class="color_red"><%= number_to_currency(@user.fine_balance)%></h2>
                  <% else %>
                    <h1 class="color_green"><%= number_to_currency(@user.fine_balance)%></h2>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3 col-lg-3" align="center"> 
                  <%= image_tag(@user.avatar.url(:profile), :class => "img-circle img-responsive") %> 
                  <div style="padding-top: 10px;"></div>
                  <div class="hline"  style="margin-bottom: 10px;"></div>
                    <% if current_user.id == @user.id or admin_rights? %>
                      <%= form_for @user, url: edit_avatar_path, html: { multipart: true } do |form| %>
                          <%= form.file_field :avatar , :class => "file-inputs", "data-filename-placement" => "inside", "title" => "Browse Pictures"%>
                            <script>$( document ).ready(function() {
                                  $('.file-inputs').bootstrapFileInput();
                                });
                            </script>
                          <%= form.submit "Change Picture", :class=>"btn btn-theme" %>
                      <% end %>
                    <% end %>
                </div>
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><b>First Name:</b></td>    <td><%= @user.first_name.capitalize%> </td>
                      </tr>
                      <tr>
                        <td><b>Last Name:</b></td>     <td><%= @user.last_name.capitalize%></td>
                      </tr>
                      <tr>
                        <td><b>Email:</b></td>          <td><a href="mailto:<%= @user.email%>"><%= @user.email%></td>
                      </tr>
                      <tr>
                        <td><b>Hour Balance</b></td>   <td><%= @user.hour_balance %> </td>
                      </tr>
                      <tr>
                        <td><b>Fine Balance:</b></td>    <td><%= @user.fine_balance %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        <br> <%= link_to 'Edit Profile', edit_profile_path %> </br>
    </div>
    <div class ="col-md-4">
        <%### ADMIN ONLY ###%>
        <% if admin_rights? %>
            <div class="spacing"></div>
             <h3>Admin Duties</h4>
             <div class="hline"></div>
            <br> <%= link_to 'Create Users', new_user_path %> </br>
            <br> <%= link_to 'Create Workshifts', new_workshift_path %> </br>
            <br> <%= link_to 'Assign Workshifts', '/shifts'%> </br>
            <br> <%= link_to 'View Weekly History', '/'%> </br>
            <br> <%= link_to 'Open/Close Workshift Preference Form', admin_view_user_path %> </br>
<<<<<<< HEAD
        <% end %>
    </div>
</div>

<div class ="row">
    <div class ="col-md-10">
      <div class="spacing"></div>
          <h4> Shift Assignment </h4>
      <div class="hline"></div>
      <table id="Workshifts_uploaded" class="table table-striped table-hover">
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Time</th>
          <th>Description</th>
          <th>Shift type</th>
        </tr>
        <% for n in 0...2 %>
          <tr>
            <td>
              <%="Kitchen" %>
            </td>
            <td>
              <%="Dishes" %>
            </td>
            <td>
              <%="shift time" %>
            </td>
            <td>
              <%="shift description" %>
            </td>
            <td>
              <%="Permanent" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>

<div class ="row">
    <div class ="col-md-10">
      <div class="spacing"></div>
          <h4> Signoff History </h4>
      <div class="hline"></div>
      <table id="Workshifts_uploaded" class="table table-striped table-hover">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Name</th>
          <th>Completed</th>
          <th>Signoff</th>
        </tr>
        <% for n in 0...5 %>
          <tr>
            <td>
              <%="shift date" %>
            </td>
            <td>
              <%="shift time" %>
            </td>
            <td>
              <%="shift name" %>
            </td>
            <td>
              <%="shift completed" %>
            </td>
            <td>
              <%="shift signoff" %>
            </td>
          </tr>
=======
>>>>>>> 313cc0d31cc16bc67e911157d1670f96dbf16ad7
        <% end %>
      </table>
    </div>
</div>
