<head>
  <style>
    .color_red { 
      color: #E63946;
    }
    .color_green { 
      color: #70AE6E;
    }
    a.btn:visited {
      color: white;
    }
  </style>
</head>

<div class ="row">
  <% if admin_rights? %> <div class ="col-md-8">
    <% else %> <div class ="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2"> <% end %> 
        <div class="spacing"></div>
        <div class="row">
          <div class ="col-md-6"><h3 class="no-top-margin"> Profile </h3></div>
          <div class ="col-md-6">
            <button type="button" class="btn btn-small pull-right ">
              <span class="glyphicon glyphicon-cog"></span><%= link_to 'Edit Profile', edit_profile_path%>
            </button>
            
          </div>
        </div>
        <div class="hline"></div>
            <div class="panel-body">
              
              <div class="row">
                <div class="col-md-3 col-lg-3" align="center"> 
                  <%= image_tag(@user.avatar.url(:profile), :class => "img-circle img-responsive") %> 
                  <div style="padding-top: 10px;"></div>
                  <div class="hline"  style="margin-bottom: 10px;"></div>
                    <% if current_user.id == @user.id or admin_rights? %>
                      <%= form_for @user, url: edit_avatar_path, html: { multipart: true } do |form| %>
                          <%= form.file_field :avatar , :class => "file-inputs", "data-filename-placement" => "inside", "title" => "Browse Pictures"%>
                            <script>$( document ).ready(function() {
                                  $('.file-inputs').bootstrapFileInput();
                                });
                            </script>
                          <%= form.submit "Change Picture", :class=>"btn btn-theme" %>
                      <% end %>
                    <% end %>
                </div>
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><b>First Name:</b></td>    <td><%= @user.first_name.capitalize%> </td>
                      </tr>
                      <tr>
                        <td><b>Last Name:</b></td>     <td><%= @user.last_name.capitalize%></td>
                      </tr>
                      <tr>
                        <td><b>Email:</b></td>          <td><a href="mailto:<%= @user.email%>"><%= @user.email%></td>
                      </tr>
                      <tr>
                        <td><b>Hour Balance</b></td>   
                        <td>
                          <% if @user.hour_balance >= 0 %>
                            <h4 class="color_green no-top-margin">+ <%= @user.hour_balance%></h4>
                          <% else %>
                            <h4 class="color_red no-top-margin">- <%= @user.hour_balance%></h4>
                          <% end %>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Fine Balance:</b></td>    
                        <td>
                          <% if @user.fine_balance > 0 %>
                            <h4 class="color_red no-top-margin">(<%= number_to_currency(@user.fine_balance)%>)</h4>
                          <% else %>
                            <h4 class="color_green no-top-margin"><%= number_to_currency(@user.fine_balance)%></h4>
                          <% end %>
                        </td>
                      </tr>
                      <% if @user.compensated_hours > 0 %>
                        <tr>
                          <td><b>Compensated Hours:</b></td>  <td><%= @user.compensated_hours %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
      </div>

    <% if admin_rights? %>
    <div class ="col-md-4">
        <%### ADMIN ONLY ###%>
            <div class="spacing"></div>
             <h3>Admin Duties</h4>
             <div class="hline"></div>
             <ul class="list-group">
               <li class="list-group-item"> <%= link_to 'Create Users', new_user_path %> </li>
               <li class="list-group-item"> <%= link_to 'Create Workshifts', new_workshift_path %> </li>
               <li class="list-group-item"> <%= link_to 'Assign Workshifts', '/shifts'%> </li>
               <li class="list-group-item"> <%= link_to 'View Weekly History', '/'%> </li>
               <li class="list-group-item"> <%= link_to 'View & Edit Users', admin_view_user_path %> </li>
             </ul>
    </div>
    <% end %>
</div>

<div class ="row">
    <div class ="col-md-10 col-md-offset-1">
      <div class="spacing"></div>
        <h4> Current Weekly Shift Assignment </h4>
      <div class="hline"></div>
      <%=render "workshifts/weekly_assignments" %>
    </div>
</div>

<div class ="row">
    <div class ="col-md-10  col-md-offset-1">
      <div class="spacing"></div>
        <h4> Signoff History </h4>
      <div class="hline"></div>
      <%=render "signoffs/signoff_history" %>
    </div>
</div>
