<div id="toolbar">
</div>
<table  class="table table-striped table-hover" id="signed-off-shifts"
                      data-toolbar="#toolbar"
                      data-show-columns="true" data-show-export="true"
                      data-toggle="table" data-search="true"
                      data-show-pagination-switch="true" data-pagination="true"
                      data-page-list="[10, 25, 50, 100, ALL]">
  <thead>
    <tr>
      <th data-sortable="true">Category</th>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Day</th>
      <th data-sortable="true">Time</th>
      <th data-sortable="true">Length</th>
      <th data-sortable="true">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @assigned_shifts.each do |workshift| %>
      <tr>
        <td><%= workshift.get_category %></td>
        <td><%= workshift.get_name %></td>
        <td><%= workshift.day %></td>
        <td><%= workshift.get_start_end_time %></td>
        <td><%= workshift.length %></td>
        <% if workshift.get_description.length <= 50 %>
          <td><%=workshift.get_description %></td>
        <% else %>
          <td>
            <div id="wrap">
              <div class="shift<%=workshift.id%> collapse in">
                <%=workshift.get_description[0..50] %> ...
              </div> 
              <div class="shift<%=workshift.id%> collapse"  role="tabpanel"> <%=workshift.get_description%> </div>
              <a id="link<%=workshift.id%>" class="true-link" role="button" data-parent="#wrap" data-toggle="collapse" href=".shift<%=workshift.id%>" aria-expanded="true" aria-controls="<%=workshift.id%>" >
                toggle description
              </a>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

